@page
@model RazorPages.Pages.Emp.ViewStartFlowModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View start flow</title>
</head>
<body>
    View start flow
</body>
</html>
