
@model RazorPages.Pages.Shared._MyPartialModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@*<form method="post">
<input type="submit" value="asdasd" />
</form>*@
<div>
    <h1>From Partial View</h1>
</div>
